html {
  font-size: 70% !important;
  line-height: 1.15 !important;
}
.ant-menu-item-selected {
  background-color: #2a2a3c !important;
  color: #fff !important;
}
:where(.css-dev-only-do-not-override-141rmge).ant-menu-light:not(
    .ant-menu-horizontal
  )
  .ant-menu-item:not(.ant-menu-item-selected):hover {
  color: #fff !important;
}
.ant-menu-item {
  &:active {
    background-color: transparent !important;
  }
  border-radius: 0.475rem !important;
  //   padding-right: 0 !important;
  .ant-menu-title-content {
    margin-right: 0.5rem !important;
  }
}
.ant-form-item-label {
  color: #3f4254 !important;
}
.ant-form-item-control-input-content {
  .ant-input {
    border: none;
    padding: 0.775rem 1rem;
    font-size: 1.1rem !important;
    border-radius: 0.475rem;
  }
}
.ant-form-item {
  margin-bottom: 10px !important;
}
//---------------login Page----------------
.main {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 90px 0 90px 0;
  .sub-main {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 70%;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.625rem;
    .main-form {
      align-self: center;
      width: 70%;
      .avatar {
        background-color: transparent;
        color: #2a2a3c;
        border: 2px solid #2a2a3c;
      }
      .forget-section {
        display: flex;
        justify-content: space-between;
      }
      Button {
        width: 100%;
      }
      .cancell-form-button {
        margin-top: 20px;
        border: 1px solid red;
        color: red;
      }
    }
  }
}
//-----------------User Table-------------------

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.ant-pagination {
  direction: initial;
}


//-----------------modal-------------------
.main-card{
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  .card{
    .title-row{
      display: flex;
      .title-text{
        font-size: 20px;
      }
    }
    .icon{
      color: green;
      padding-bottom: 20px;
      padding-left: 10px;
    }
  }
}
//-----------------countdown-------------------
.countdown{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}
.ant-statistic{
  .ant-statistic-content{
    font-size: 12px;
    .ant-statistic-content-value{
      color: #3f4254;
    }
  }
}
